<div class="card" role="region" aria-labelledby="tabs-header">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div id="tabs-header" class="h4">Tabs</div>
    <%= link_to new_tab_path, class: "btn btn-sm btn-outline-info", aria: { label: "Create a new tab" } do %>
      <i class="fa-solid fa-plus fa-lg"></i>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <div id="tabs">
      <%= render 'tabs_list', tabs: tabs %>
    </div>
  </ul>
</div>
