<div class="card">
  <div class="card-header">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-start">
        <div class="col-4">
          <%= link_to tabs_path do %>
            <i class="fa-solid fa-chevron-left"></i>
          <% end %>
        </div>

        <div class="col-4 text-center">
          <div class="h3">Create tab</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <%= render "form", tab: tab, button_label: "Create" %>
  </div>
</div>
