<div class="h4 text-center m-4">How to navigate Music Tab</div>
<div class="container-md">
  <div class="row text-center mx-5">
    <div class="col-lg-8 order-2 order-lg-1 d-flex align-items-center justify-content-center">
      <div class="tab-content w-100" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-index" role="tabpanel" aria-labelledby="list-index-list">
          The list view shows all tabs with titles. Users can click on a tab to view or edit it. A plus (+) button allows adding new tabs.<br>
          <img src="<%= asset_path 'index.jpeg' %>" alt="All Tabs" class="big-image img-fluid">
        </div>
        <div class="tab-pane fade" id="list-create" role="tabpanel" aria-labelledby="list-create-list">
          Users can create a new tab by entering a title and content. The content field supports rich text formatting and file attachments. Click "Submit" to save.
          <img src="<%= asset_path 'create.jpeg' %>" alt="Create Tabs" class="big-image img-fluid">
        </div>
        <div class="tab-pane fade" id="list-show" role="tabpanel" aria-labelledby="list-show-list">
          Users can view the full content of a created tab. The tab displays all the formatted details entered during creation or editing, allowing for easy reference during practice or performance.
          <img src="<%= asset_path 'show.jpeg' %>" alt="View Tabs" class="big-image img-fluid">
        </div>
        <div class="tab-pane fade" id="list-edit" role="tabpanel" aria-labelledby="list-edit-list">
          Users can edit the title and content of an existing tab with rich text options. Save changes after editing.
          <img src="<%= asset_path 'edit.jpeg' %>" alt="Edit Tabs" class="big-image img-fluid">
        </div>
      </div>
    </div>

    <div class="col-lg-4 order-1 order-lg-2 mb-4 mb-lg-0">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-index-list" data-bs-toggle="list" href="#list-index" role="tab" aria-controls="list-index">View All Tabs</a>
        <a class="list-group-item list-group-item-action" id="list-create-list" data-bs-toggle="list" href="#list-create" role="tab" aria-controls="list-create">Create a Tab</a>
        <a class="list-group-item list-group-item-action" id="list-show-list" data-bs-toggle="list" href="#list-show" role="tab" aria-controls="list-show">View Tab</a>
        <a class="list-group-item list-group-item-action" id="list-edit-list" data-bs-toggle="list" href="#list-edit" role="tab" aria-controls="list-edit">Edit Tab</a>
      </div>
    </div>
  </div>
</div>
