<div class="row my-5" id="main-content">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active text-center" data-bs-interval="10000">
        <img src="https://cdn.prod.website-files.com/5e51c674258ffe10d286d30a/5e53573df5fa1a2163f8ed70_peep-48.svg" alt="Musician playing guitar" class="img-fluid mx-auto d-block" style="max-height: 300px;">
        <div class="carousel-caption d-block">
          <h4>A Must-Have for Musicians</h4>
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h5 class="mt-2">Olivia Bennett</h5>
          <p>Music Tab has completely changed how I manage my guitar tabs. It's super easy to create, organize, and update tabs, and having everything in one place is a game-changer. No more losing paper tabs, everything I need is just a click away.</p>
        </div>
      </div>

      <div class="carousel-item text-center" data-bs-interval="2000">
        <img src="https://cdn.prod.website-files.com/5e51c674258ffe10d286d30a/5e535a83d3992372c25556b9_peep-76.svg" alt="Music sheet and guitar" class="img-fluid mx-auto d-block" style="max-height: 300px;">
        <div class="carousel-caption d-block">
          <h4>Perfect for Tab Organization</h4>
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
          <h5 class="mt-2">Ethan Parker</h5>
          <p>I've tried many tools, but Music Tab is by far the best. It's simple yet effective, making it easy to create and organize my tabs. The digital format has improved my practice sessions, and I can now focus more on playing. Love it!</p>
        </div>
      </div>

      <div class="carousel-item text-center">
        <img src="https://cdn.prod.website-files.com/5e51c674258ffe10d286d30a/5e53517d8becbf5fe24ff444_peep-11.svg" alt="Guitar and amplifier" class="img-fluid mx-auto d-block" style="max-height: 300px;">
        <div class="carousel-caption d-block">
          <h4>Great Tool with Potential</h4>
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <h5 class="mt-2">Sophia Carter</h5>
          <p>Music Tab makes managing tabs much easier. The app is intuitive and keeps everything organized. I'd love to see more features, but it's already saved me a lot of time. A solid app for any musician.</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
