<div class="row my-5 mx-1 bg-page" id="main-content" role="region" aria-labelledby="welcome-title" style="background-image: url('<%= asset_path("landing-page.jpg") %>')">
  <div class="col-md text-center">
    <h1 id="welcome-title" class="mb-3 text-light"><strong>Simplify Your Song Tabs Management</strong></h1>
    <div class="mb-4 text-light"><strong>Music Tab is here to revolutionize the way you manage your song tabs</strong></div>
    <% if !user_signed_in? %>
      <div class="mb-3">
        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-info px-5 py-4 fs-4", aria: { label: "Get Started with Music Tab" } %>
      </div>
      <div>
        <%= link_to "Sign-in", new_user_session_path, class: "btn btn-sm btn-outline-light", aria: { label: "Sign in to Music Tab" } %>
      </div>
    <% end %>
  </div>
</div>
