<div class="row m-5 bg-landing-page" id="main-content">
  <div class="col-md text-center">
    <div class="h1 mb-3">Simplify Your Song Tabs Management</div>
    <div class="mb-4">Music Tab is here to revolutionize the way you manage your song tabs</div>
    <% if !user_signed_in? %>
      <div class="mb-3">
        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-info btn-xl px-5 py-3", aria: { label: "Get Started" } %>
      </div>
      <div>
        <%= link_to "Sign-in", new_user_session_path, class: "btn btn-sm btn-outline-info", aria: { current: "page" } %>
      </div>
    <% else %>
      <img src="<%= asset_path 'music_notes.png' %>" alt="Notes Tabs" class="img-fluid small-image m-4">
    <% end %>
  </div>
</div>
<!--
<style>
.bg-landing-page {
  background-image: url('<%#= asset_path("landing-page-bg.jpg") %>') !important;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}
</style>
-->
