<div class="h4 text-center m-4">Why Choose Music Tab?</div>
<div class="container-md">
  <div class="row text-center">
    <div class="col-lg-4 order-1 order-lg-1 mb-4 mb-lg-0">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-1-list" data-bs-toggle="list" href="#list-1" role="tab" aria-controls="list-1">Effortless Tab Management</a>
        <a class="list-group-item list-group-item-action" id="list-2-list" data-bs-toggle="list" href="#list-2" role="tab" aria-controls="list-2">Intuitive Interface</a>
        <a class="list-group-item list-group-item-action" id="list-3-list" data-bs-toggle="list" href="#list-3" role="tab" aria-controls="list-3">Stay Organized</a>
        <a class="list-group-item list-group-item-action" id="list-4-list" data-bs-toggle="list" href="#list-4" role="tab" aria-controls="list-4">Enhance Your Productivity</a>
      </div>
    </div>

    <div class="col-lg-8 order-2 order-lg-2 d-flex align-items-center justify-content-center">
      <div class="tab-content w-100" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-1-list">
          Say goodbye to the hassle of paper tabs. With Music Tab, you can easily create, organize, and access your song tabs in a centralized digital format.
        </div>
        <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-2-list">
          Designed with musicians in mind, our user-friendly interface makes managing your tabs a breeze. Spend less time searching and more time playing.
        </div>
        <div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-3-list">
          Never lose a tab again. Keep all your songs neatly organized in one place, ensuring you always have accurate and cohesive records at your fingertips.
        </div>
        <div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-4-list">
          Update and edit your tabs effortlessly. Focus on your music without the distraction of disorganized notes.
        </div>
      </div>
    </div>
  </div>
</div>
