<h1>Music Tabs</h1>

<% if user_signed_in? %>
  <%= link_to "Home", tabs_path%>
  <%= link_to "Settings", edit_user_registration_path %>
  <%= link_to "Logout", destroy_user_session_path,  method: :delete%>
<% end %>
