<header class="pb-2 border-bottom sticky-top bg-white">
  <div class="row flex-nowrap justify-content-end">
    <div class="<%= user_signed_in? ? 'col-4' : 'col' %> pt-1 text-center">
      <%= link_to root_path, class: "fs-2 text-decoration-none text-dark" do %>
        <i class="bi bi-music-note-beamed fs-1 text-muted"></i>
        Music Tabs
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <%= link_to edit_user_registration_path, class: "btn btn-outline-success m-2", aria: { label: "Edit Profile" } do %>
          <i class="bi bi-gear-fill" fill="currentColor"></i>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, class: "btn btn-outline-danger", method: :delete, aria: { label: "Logout" } %>
      </div>
    <% end %>
  </div>
</header>
