<div id="<%= dom_id tab %>">
  <p>
    <strong>Title:</strong>
    <%= tab.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= tab.body %>
  </p>

 <!-- <p>
    <strong>User:</strong>
    <%#= tab.user_id %>-->
<!--  </p>-->

</div>
