<div id="<%= dom_id tab %>">
  <p>
    <strong>Title:</strong>
    <%= tab.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tab.content %>
  </p>

  <div class="trix-content">
    <p>
      <strong>Content:</strong>
      <%= tab.content %>
    </p>
  </div>

  <!-- <p>
    <strong>User:</strong>
    <%#= tab.user_id %>-->
  <!--  </p>-->

</div>
