<div id="<%= dom_id tab %>">
  <p>
    <strong>Title:</strong>
    <%= tab.title %>
  </p>

  <p>
    <%= tab.content %>
  </p>

  <!-- need to install vips first to render images -->

  <!-- <p>
    <strong>User:</strong>
    <%#= tab.user_id %>-->
  <!--  </p>-->

</div>
