<% page_title "#{@tab.title} - Edit - Music Tab" %>

<div class="row justify-content-center">
  <div class="col-md-9">
    <div id="edit-card">
      <%= render 'tabs/edit/edit_card', tab: @tab%>
    </div>
  </div>
</div>
