<div class="row justify-content-center">
  <div class="col-9">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="h4">Tabs</div>
        <%= link_to new_tab_path, class: "btn btn-sm btn-outline-primary" do %>
          <i class="fa-solid fa-plus fa-lg"></i>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <div id="tabs">
          <% @tabs.each do |tab| %>
            <%= link_to tab, class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do%>
              <div>
                <h6><%= tab.title %></h6>
              </div>

              <div>
                <i class="fa-solid fa-chevron-right mx-2 text-primary"></i>
              </div>
            <% end %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-2">
  <%= paginate @tabs %>
</div>
