<div class="row justify-content-center">
  <div class="col-md-9 mb-3">
    <%= render 'tabs/index/search_bar' %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-9">
    <%= render 'tabs/index/index_card', tabs: @tabs, aria: { role: "list" } %>
  </div>
</div>

<div class="d-flex justify-content-center mt-2" role="navigation" aria-label="Pagination">
  <%= paginate @tabs, remote: true %>
</div>

<%= javascript_include_tag 'smooth_search' %>
