<% page_title "#{@tab.title} - Music Tab" %>

<div class="row justify-content-center">
  <div class="col-md-9">
    <div id="show-card">
      <%= render 'tabs/show/show_card', tab: @tab %>
    </div>
  </div>
</div>

<%= render 'tabs/show/auto_scroll' %>
