<div class="row justify-content-center">
  <div class="col text-center">
    <div class="h1">A Place to hold all your tabs</div>
    <div class="h4">Create, edit, delete</div>
    <div class=>Anything you envision</div>
    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-outline-info m-2", aria: { label: "Get Started" } %>
    <hr>
  </div>
</div>

<div class="row text-center">
  <div>
    Made by Benny Joram
  </div>
</div>
