<% page_title "Manage All Tabs In One Place - Music Tab" %>

<div role="main" aria-labelledby="welcome-header">
  <h1 id="welcome-header" class="sr-only">Manage All Tabs In One Place - Music Tab</h1>

  <%= render 'tabs/welcome/welcome' %>

  <%= render 'tabs/welcome/why' %>

  <%= render 'tabs/welcome/navigate' %>

  <%= render 'tabs/welcome/review' %>
</div>
