<footer id="auto-scroll" class="fixed-bottom bg-light">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col text-center my-1">
        <button id="auto-scroll-btn" class="btn btn-outline-dark-emphasis">
          Auto Scroll<i class="fa-solid fa-play ms-2"></i>
        </button>

        <div class="btn-group">
          <div id="decrease-speed-btn" class="btn btn-outline-dark-emphasis"><i class="fa-solid fa-minus"></i></div>
          <div class="btn btn-outline-dark-emphasis" aria-current="page" id="scroll-speed-display">Scroll Speed: 1</div>
          <div id="increase-speed-btn" class="btn btn-outline-dark-emphasis"><i class="fa-solid fa-plus"></i></div>
        </div>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag 'auto_scroll' %>
