.grey-bg {
  background-color: #F0F3F4;
}

.small-image {
  width: 250px; 
  height: auto;
}

.big-image {
  width: 750px;
  height: auto;
}

.carousel-item {
  position: relative; /* Ensure positioning is relative for inner content */
}

.carousel-caption {
  position: relative; 
  width: 70%; 
}

.carousel-item img {
  height: 400px; /* Maintain aspect ratio */
}

.home-tabs-center {
  margin-right: 32px;
}
