.grey-bg {
  background-color: #F0F3F4;
}

.white-bg {
  background-color: whitesmoke;
}

.small-image {
  width: 250px; 
  height: auto;
}

.big-image {
  width: 750px;
  height: auto;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: relative; 
  width: 70%; 
}

.carousel-item img {
  height: 400px;
}

.home-tabs-center {
  margin-right: 32px;
}

#main-content {
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
}

.bg-landing-page {
  background-image: var('/assets/landing-page-bg.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding: 50px !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}
