@media (max-width: 767.98px) {
  .navbar-nav .btn-outline-secondary,
  .navbar-nav .btn-info {
    all: unset; 
    display: inline-block; 
    margin: .5rem 0rem; /* Adjust padding as needed */
    padding: .5rem .5rem;
    text-decoration: none; /* Remove underline */
  }

  /* Sign-in button */
  .navbar-nav .btn-outline-secondary {
    color: #6c757d !important; /* Apply text-secondary */
  }

  /* Sign-up button */
  .navbar-nav .btn-info {
    color: #17a2b8 !important; /* Apply text-info */
  }
}

.grey-bg {
  background-color: #F0F3F4;
}

.white-bg {
  background-color: whitesmoke;
}

.small-image {
  width: 250px; 
  height: auto;
}

.big-image {
  width: 750px;
  height: auto;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: relative; 
  width: 70%; 
}

.carousel-item img {
  height: 400px;
}

.home-tabs-center {
  margin-right: 132px;
}

#main-content {
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
}

.bg-page {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.50) !important;
-webkit-box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.50) !important;
-moz-box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.50) !important;
}

.review-img-height {
  max-height: 250px;
  border-radius: 16px;
  filter: grayscale(50%)
}
